/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}*/




@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: unset;
    /*added*/cursor: pointer;
    
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    /*added*/cursor: pointer;
    border-radius: 100px;
    object-fit: cover;
    
}

.img-form {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  justify-content: flex-end;
  
}

.cityAndCountry-style {
    color: #901C1C;
    font-weight: 700;
}

.cityAndCountry-style--PhotographerPage {
  color: #901C1C;
  font-weight: 600;
}

.tagline-style {
    font-weight: bold;
    margin-bottom: unset;
    margin-top: unset;
    
}

.price-style {
    color: grey;
}



/*/faire un texte underline none sur a*/
.photographer-link-style {
    text-decoration: none;
    align-items: center;
    display: flex;
    align-content: center;
    
    
}

.clickable-part {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-elements input {
    font-size: 30px;
}

.photograph-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3%;
  row-gap: 20px;
  padding: 50px 100px;
}


.modal-text {
  display: flex;
  
  align-items: center;
}

.modal-text p {
  font-size: 64px;
  padding-left: 15px;
}


.photographer_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3%;
  row-gap: 20px;
  padding: 50px 100px;
}

.card img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.card video {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.card_footer {
  display: flex;
  flex-direction: row;
  color: #D3573C;
  justify-content: space-between;
}

.likeCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}